.game {
    position: relative;
    width: 25vw;
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.row:last-child {
    border-bottom: none;
}

.box {
    width: 33%;
    height: calc(25vw / 3);
}

.box {
    border-right: 1px solid black;
    //border-left: 1px solid black;
}

.box:first-child {
    border-left: none;
}

.box:last-child {
    border-right: none;
}

.box.xs_and_os:after {
    width: 100%;
    height: 100%;
    display: block;
    font-size: calc(25vw / 3);
    text-align: center;
    line-height: 8vw;
    position: relative;
}

.os_symbol:after {
    content: 'O';

}

.xs_symbol:after {
    color: red;
    content: 'X';
}

.scoreboard {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.scoreboard span {
    flex: 1;
    text-align: center;
}

.game-end-message {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 58%;
    padding-top: 40%;
}

.game-end-message-wrapper {
    background: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}

.game-end-message-wrapper>div {
    margin-bottom: 5px;
}

.hard-reset{
  margin: 10px auto;
  display: block;

}